{% extends "layout.html" %}


{% block body %}
    <div class="jumbotron jumbotron-fluid">
        
        <p style="font-size:xx-large; text-align: center; color: rgb(66, 138, 104); font-family:sans-serif   ">
        Kütüphane Sistemimizi kullanmak için lütfen kayıt olunuz.  <br>
        Kayıt Olup giriş yaptığınızda kütüphane foksiyonlarını kullanabilirsiniz.
        
       
    </div>
    
    <a class=" btn btn-primary" href="/register" role="button">kayıt ol </a>

    
{% endblock body %}